<html>

<form method="POST" action="/save">
	<p><label>dni:</label><input type="text" name="dni" placeholder="dni" /></p>
	<p><label>fname:</label><input type="text" name="fname" /></p>
	<p><label>lname: </label><input type="text" name="lname" /></p>
	<p><label>avg: </label><input type="text" name="avg" /></p>
	<p><input type="submit" value="enviar" /></p>
</form>

</html>