<html>

<form method="POST" action="/save">
	<p><label>dni:</label><input type="text" name="dni" placeholder="dni" /></p>
	<p><label> nombre:</label><input type="text" name="nombre" /></p>
	<p><label>edad: </label><input type="age" name="edad" /></p>
	<p><input type="submit" value="enviar" /></p>
</form>

</html>